nav:has(.animated-arrow) {
    --arrow-size: 8px;
    --left-arrow-shaft: 32px;
    --margin: 12px;

    overflow: hidden;
}

.animated-arrow {
    margin-left: auto;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    color: #fff;
    font-size: 1em;
    font-style: italic;
    text-decoration: none;
    position: relative;
    transform: translateX(0);
    transition: all 0.2s;
}

nav:has(.animated-arrow):hover .animated-arrow {
    transform: translateX(calc(var(--margin) + var(--arrow-size)));
    transition: all 0.2s;
}

/* text */

.animated-arrow .text {
    min-width: fit-content;
    margin-right: calc(var(--margin) + var(--arrow-size));
    text-wrap: nowrap;
}

/* arrows */

.arrow {
    display: inline-block;
    position: relative;
    width: 1px;
    transition: all 0.2s;
}

.arrow .shaft {
    display: block;
    height: 1px;
    background-color: #fff;
    position: relative;
    transition: all 0.2s;
}

.arrow .shaft::before,
.arrow .shaft::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: var(--arrow-size);
    height: 1px;
    background-color: #fff;
    transition: all 0.5s;
}

.arrow .shaft::before {
    transform: rotate(40deg);
    transform-origin: top right;
}

.arrow .shaft::after {
    transform: rotate(-40deg);
    transform-origin: bottom right;
}

/* right arrow */

nav:has(.animated-arrow) .arrow.right {
    opacity: 1;
    transition: all 0.2s;
}

nav:has(.animated-arrow):hover .arrow.right {
    opacity: 0;
    transition: all 0.2s;
}

/* left arrow */

.arrow.left {
    margin-right: calc(var(--margin) + var(--left-arrow-shaft));
    opacity: 0;
    transition: all 0.2s;
}

.arrow.left .shaft {
    width: var(--left-arrow-shaft);
}

nav:has(.animated-arrow):hover .arrow.left {
    opacity: 1;
    transition: all 0.2s;
}
