* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --lightGray: hsl(0, 0%, 80%);
    --darkGray: #333;
    --gridSize: 16;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: var(--darkGray);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

header {
    width: 100%;
    background-color: var(--lightGray);
    margin-bottom: 40px;
}

h1 {
    padding: 40px;
    text-align: center;
    font-family: 'Lobster', serif;
    font-weight: 400;
}

.grid {
    aspect-ratio: 1 / 1;
    background-color: #ffffff;
    box-shadow: 0px 2px 7px 1px var(--darkGray);
    display: grid;
    grid-template-rows: repeat(var(--gridSize), 1fr);
    grid-template-columns: repeat(var(--gridSize), 1fr);
}

.grid-item {
    aspect-ratio: 1 / 1;
    background-color: white;
    border: none;
    padding: 0;
    user-select: none;
}

.grid-lines {
    border: 1px solid var(--lightGray);
}

input[type='color'] {
    transition: transform 0.1s ease-in-out;
    -webkit-appearance: none;
    width: 80px;
    height: 80px;
    border: none;
}

input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
    background-color: white;
}

input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
    box-shadow: none;
}

input[type='color']:hover {
    transform: scale(1.05);
}

input[type='color']:active {
    transition: transform 0.25s ease-in-out;
    transform: scale(1);
}

.buttons {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button {
    padding: 5px;
    font-size: 18px;
    border-radius: 0.3em;
    border: none;
    box-shadow: 0px 1px 3px 1px var(--darkGray);
    background-color: white;
    transition: box-shadow 0.25s, background-color 0.25s, color 0.25s;
    user-select: none;
}

.slider-container {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: var(--lightGray);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    padding-bottom: 0;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--darkGray);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--darkGray);
    cursor: pointer;
}

.gridsize {
    text-align: center;
}

.fill:hover,
.fill:focus,
.fill:active {
    box-shadow: none;
    background-color: var(--darkGray);
    color: white;
}

footer {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: var(--darkGray);
    color: #fff;
    text-align: center;
    font-size: 18px;
}

footer a:link {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: #fff;
    text-decoration: underline;
}

footer a:active {
    color:aqua;
}

footer a:visited {
    color: hsl(300, 76%, 73%);
}

footer img {
    width: 18px;
    height: 18px;
}

@media only screen and (max-width: 425px) {
    h1 {
        font-size: 36px;
    }
    
    .grid {     
        width: 80%;
    }

    .buttons {
        width: 100%
    }

    button {
        width: 80%;
    }
}

@media only screen and (min-width: 426px) {
    body {
        gap: 40px;
    }
    
    h1 {
        font-size: 52px;
    }
    
    .grid {
        width: 60%;
        max-width: 700px;
    }

    .buttons {
        width: 30%;
        max-width: 250px;
        justify-content: space-between;
        gap: 20px;
    }

    button {
        width: 100%;
        padding: 8px;
    }

    footer {
        margin-top: 40px;
    }
}
