/* Gallery */

.splide {
    min-height: 500px;
}

.splide .splide__slide {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin-top: 20px;
    margin-bottom: 20px;
}

.splide__slide .image-wrapper {
    flex: 1 1 200px;
    min-width: 0;

    background: #fff;
    padding: 40px;
    border-style: solid;
    border-width: 15px;
    border-top-color: hsl(0, 0%, 20%);
    border-right-color: hsl(0, 0%, 0%);
    border-bottom-color: hsl(0, 0%, 20%);
    border-left-color: hsl(0, 0%, 0%);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.splide__slide .image-wrapper img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;

    border-style: solid;
    border-width: 2px;
    border-top-color: hsl(0, 0%, 96%);
    border-right-color: hsl(0, 0%, 96%);
    border-bottom-color: hsl(0, 0%, 96%);
    border-left-color: hsl(0, 0%, 96%);
}

.splide__slide .slide-info {
    flex: 1 1 200px;
    align-self: flex-end;
    padding: 1rem 2rem;

    display: flex;
    flex-direction: column;
    gap: 6px;
}

.splide__slide .slide-info cite {
    font-size: 2rem;
}

.splide__slide .slide-info q {
    display: block;
}

.splide__slide .slide-info p {
    margin-left: 50px;
}

.splide .splide__arrow {
    background: transparent;
    border: none;
    box-shadow: none;
}

/* Thumbnails */

.thumbnails {
    width: 100%;
    margin-top: 20px;
    padding: 0 10%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 20px;
}

.thumbnail {
    overflow: hidden;
    list-style: none;
    cursor: pointer;
}

.thumbnail img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;

    border: 1px solid var(--lightGray);
    transition: all 0.2s;
}

.thumbnail.is-active img {
    background: #fff;
    padding: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: #000;
    border-top-color: hsl(0, 0%, 20%);
    border-right-color: hsl(0, 0%, 0%);
    border-bottom-color: hsl(0, 0%, 20%);
    border-left-color: hsl(0, 0%, 0%);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    transition: all 0.2s;
}
